/.vscode
/Adversarial Search - Part 1.pdf
/hill_climb.ipynb
/Introduction to AI.pdf
/khushi.shetty
/main.py
/project
/project.py
/Search Algorithms.pdf
/stlit.xlsx
/streamlit.ipynb
/tic_tac_toe.ipynb
/users.json
/user_data.csv
/user_data.json
/user_marks.csv